<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="navbar navbar-light bg-white container d-flex flex-column flex-md-row align-items-start pt-md-5 pt-sm-1">
    <a class="navbar-brand text-primary text-sm" routerLink="/" routerLinkActive="active">letsmakeitfun.</a>
    <ul class="navbar-nav ml-auto d-flex flex-column flex-md-row">

      <div class="d-flex justify-content-end align-items-center">
        <li class="nav-item ml-4">
          <a class="nav-link" routerLink="/blogs" routerLinkActive="active">blogs.</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">projects.</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">contact.</a>
        </li>
      </div>

      <li class="nav-item d-flex flex-row justify-content-end ml-md-3">
        <a class="nav-link ml-3" href="https://dev.to/letsmakeitfun" target="_blank">
          <i class="fab fa-dev fa-2x"></i>
        </a>
        <a class="nav-link ml-3" href="https://github.com/letsmakeitfun" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a class="nav-link ml-3" href="https://www.instagram.com/lets.make.it.fun/" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </li>

    </ul>

</nav>

<!-- The routed views render in the <router-outlet>-->
<main class="container d-flex flex-grow-1">
  <router-outlet></router-outlet>
</main>

<footer class="d-flex">
  <div class="container">
    <div class="row p-3 d-flex flex-row-reverse">
      <small class="copyright-text">© Tushar Srivastava</small>
    </div>
  </div>
</footer>
